#       CASO NETFLIX

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [3]:
#archivo csv separado por comas
data = pd.read_csv('hipotetico - Respuestas de formulario 1.csv')

#leer lineas
data

,EMAIL,SECO DE CABRITO,OCOPA AREQUIPEÑA,CARAPULCRA CON SOPASECA,CAUSA RELLENA,PAPA RELLENA
0,kmamanica@unsa.edu.pe,3.0,NaN,3.0,5.0,5.0
1,esther.o.sara@gmail.com,5.0,3.0,2.0,NaN,5.0
2,mprietot@unsa.edu.pe,3.0,2.0,NaN,5.0,2.0
3,nalufreyja13@gmail.com,NaN,5.0,1.0,5.0,NaN
4,mrodriguezlau@unsa.edu.pe,1.0,4.0,1.0,5.0,5.0

In [4]:
data.dtypes

EMAIL                        object
SECO DE CABRITO             float64
OCOPA AREQUIPEÑA            float64
CARAPULCRA CON SOPASECA     float64
CAUSA RELLENA               float64
PAPA RELLENA                float64
dtype: object

In [5]:
from scipy.spatial.distance import euclidean

In [12]:
data.notnull().tail()

,EMAIL,SECO DE CABRITO,OCOPA AREQUIPEÑA,CARAPULCRA CON SOPASECA,CAUSA RELLENA,PAPA RELLENA
0,True,True,False,True,True,True
1,True,True,True,True,False,True
2,True,True,True,False,True,True
3,True,False,True,True,True,False
4,True,True,True,True,True,True

In [13]:
data

,EMAIL,SECO DE CABRITO,OCOPA AREQUIPEÑA,CARAPULCRA CON SOPASECA,CAUSA RELLENA,PAPA RELLENA
0,kmamanica@unsa.edu.pe,3.0,NaN,3.0,5.0,5.0
1,esther.o.sara@gmail.com,5.0,3.0,2.0,NaN,5.0
2,mprietot@unsa.edu.pe,3.0,2.0,NaN,5.0,2.0
3,nalufreyja13@gmail.com,NaN,5.0,1.0,5.0,NaN
4,mrodriguezlau@unsa.edu.pe,1.0,4.0,1.0,5.0,5.0

In [15]:
x=data.fillna(1)

u = x[x.columns[1:]].to_numpy()
v = x[x.columns[0]].to_numpy()

In [22]:

from pandas import DataFrame
vector=len(v)
matriz= np.zeros((vector,vector))

for i in range(vector):
    for j in range(vector):
        dist=euclidean(u[i],u[j])
        simil=(1/(1+dist))
        matriz[i][j] = simil
        
da = pd.DataFrame(matriz,columns=v,index=v)
da.round(decimals=4)

,kmamanica@unsa.edu.pe,esther.o.sara@gmail.com,mprietot@unsa.edu.pe,nalufreyja13@gmail.com,mrodriguezlau@unsa.edu.pe
kmamanica@unsa.edu.pe,1.0000,0.1667,0.2109,0.1365,0.1952
esther.o.sara@gmail.com,0.1667,1.0000,0.1523,0.1208,0.1464
mprietot@unsa.edu.pe,0.2109,0.1523,1.0000,0.2109,0.1952
nalufreyja13@gmail.com,0.1365,0.1208,0.2109,1.0000,0.1952
mrodriguezlau@unsa.edu.pe,0.1952,0.1464,0.1952,0.1952,1.0000

In [23]:
z, c= u.shape
for p in range(0,z):
    
    for q in range(0,z):
    
        print('relacion entre',v[p],'y',v[q],'\n')
        
        distancia= np.sqrt(np.nansum((u[p]-u[q])**2))            # Distancia euclidiana
        
        print('\t\tLa Distancia es ', distancia)
        
        similitud=1/(1+distancia)                                # Similitud de Pearson
        
        print('\t\tla Similitud es ', similitud)

relacion entre kmamanica@unsa.edu.pe y kmamanica@unsa.edu.pe

		La Distancia es  0.0
		la Similitud es  1.0
relacion entre kmamanica@unsa.edu.pe y esther.o.sara@gmail.com

		La Distancia es  5.0
		la Similitud es  0.16666666666666666
relacion entre kmamanica@unsa.edu.pe y mprietot@unsa.edu.pe

		La Distancia es  3.7416573867739413
		la Similitud es  0.21089672205953397
relacion entre kmamanica@unsa.edu.pe y nalufreyja13@gmail.com

		La Distancia es  6.324555320336759
		la Similitud es  0.1365270594958143
relacion entre kmamanica@unsa.edu.pe y mrodriguezlau@unsa.edu.pe

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre esther.o.sara@gmail.com y kmamanica@unsa.edu.pe

		La Distancia es  5.0
		la Similitud es  0.16666666666666666
relacion entre esther.o.sara@gmail.com y esther.o.sara@gmail.com

		La Distancia es  0.0
		la Similitud es  1.0
relacion entre esther.o.sara@gmail.com y mprietot@unsa.edu.pe

		La Distancia es  5.5677643628300215
		la Similitud es  0.15225881209433406
relacion entre esther.o.sara@gmail.com y nalufreyja13@gmail.com

		La Distancia es  7.280109889280518
		la Similitud es  0.12077134402462537
relacion entre esther.o.sara@gmail.com y mrodriguezlau@unsa.edu.pe

		La Distancia es  5.830951894845301
		la Similitud es  0.1463924816619788
relacion entre mprietot@unsa.edu.pe y kmamanica@unsa.edu.pe

		La Distancia es  3.7416573867739413
		la Similitud es  0.21089672205953397
relacion entre mprietot@unsa.edu.pe y esther.o.sara@gmail.com

		La Distancia es  5.5677643628300215
		la Similitud es  0.15225881209433406
relacion entre mprietot@unsa.edu.pe y mprietot@unsa.edu.pe

		La Distancia es  0.0
		la Similitud es  1.0
relacion entre mprietot@unsa.edu.pe y nalufreyja13@gmail.com

		La Distancia es  3.7416573867739413
		la Similitud es  0.21089672205953397
relacion entre mprietot@unsa.edu.pe y mrodriguezlau@unsa.edu.pe

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre nalufreyja13@gmail.com y kmamanica@unsa.edu.pe

		La Distancia es  6.324555320336759
		la Similitud es  0.1365270594958143
relacion entre nalufreyja13@gmail.com y esther.o.sara@gmail.com

		La Distancia es  7.280109889280518
		la Similitud es  0.12077134402462537
relacion entre nalufreyja13@gmail.com y mprietot@unsa.edu.pe

		La Distancia es  3.7416573867739413
		la Similitud es  0.21089672205953397
relacion entre nalufreyja13@gmail.com y nalufreyja13@gmail.com

		La Distancia es  0.0
		la Similitud es  1.0
relacion entre nalufreyja13@gmail.com y mrodriguezlau@unsa.edu.pe

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre mrodriguezlau@unsa.edu.pe y kmamanica@unsa.edu.pe

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre mrodriguezlau@unsa.edu.pe y esther.o.sara@gmail.com

		La Distancia es  5.830951894845301
		la Similitud es  0.1463924816619788
relacion entre mrodriguezlau@unsa.edu.pe y mprietot@unsa.edu.pe

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre mrodriguezlau@unsa.edu.pe y nalufreyja13@gmail.com

		La Distancia es  4.123105625617661
		la Similitud es  0.1951941016011038
relacion entre mrodriguezlau@unsa.edu.pe y mrodriguezlau@unsa.edu.pe

		La Distancia es  0.0
		la Similitud es  1.0